
<div style="height: 50px;"></div>


<div class="search" align="center">
    <form #Form="ngForm" (submit)="onSubmit()">
        <input class="search-input" type="text" id="name" name="name" [(ngModel)]="cityname" placeholder="Search city now..." />
        <button class="search-btn" type="submit" name="submit" mat-fab><mat-icon>search</mat-icon></button>
    </form>
</div>

<div style="height: 10px;"></div>


<div class="no-data-to-display" align="center" *ngIf="!weatherData">
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/not-found-4064375-3363936.png" />
    <br>
    <b class="mat-display-3">Oops!</b>
    <br><br>
    <b class="mat-body-1">Can't find what are you looking for... <br> Please! check your words again!</b>
</div>

<div class="container" *ngIf="weatherData">

    <div class="upper-base">

        <img src="../assets/cool.webp" alt="" *ngIf="weatherData.main.temp < 15" />
        <img src="../assets/no_much_cold_no_much-hot.jpg" alt="" *ngIf="weatherData.main.temp >= 15" />
        <img src="../assets/hot.webp" alt="" *ngIf="weatherData.main.temp >= 25" />
        <img src="../assets/affriacan_hot.jpg" alt="" *ngIf="weatherData.main.temp >= 35" />

        <div class="weather-data">
            <br><br>
            <div class="location">
                {{weatherData.name}} <br><br>
                <span style="font-size: 15px;">
                    <mat-icon aria-hidden="true" aria-label="info label">flag</mat-icon>{{weatherData.sys.country}} &nbsp;
                    <mat-icon aria-hidden="true" aria-label="info label">watch_later</mat-icon>{{weatherData.timezone}} &nbsp;
                    <mat-icon aria-hidden="true" aria-label="info label">visibility</mat-icon>{{weatherData.visibility}} &nbsp;
                </span>
            </div>

            <div style="height: 80px;"></div>

            <div class="temparature">
                {{ weatherData.main.temp | number: '1.0-0'}} &#8451;
            </div>

            <div style="height: 100px;"></div>

        </div>
    </div>

    <div class="lower-base">

        <div class="more-info-label">
            <mat-icon aria-hidden="true" aria-label="info label">info</mat-icon>
            More Information
        </div>

        <div class="more-info-container" align="center">

            <div class="info-block">

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">ac_unit</mat-icon><br>min</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.main.temp_min}} &#8451;</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">thermostat</mat-icon><br>max</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.main.temp_max}} &#8451;</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">water_drop</mat-icon><br>humidity</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.main.humidity}} %</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">air</mat-icon><br>wind</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.wind.speed}} kmph</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">tire_repair</mat-icon><br>pressure</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.main.pressure}} Hg</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">cloud</mat-icon><br>clouds</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.clouds.all}} okta</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">wb_sunny</mat-icon><br>sunrise</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.sys.sunrise}}</span>
                    </div>
                </div>

                <div class="info-content">
                    <div class="info-block-label">
                        <span><mat-icon aria-hidden="false" aria-label="min icon">wb_twilight</mat-icon><br>sunset</span>
                    </div>
                    <div class="info-block-value">
                        <span>{{weatherData.sys.sunset}}</span>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
